.button {
	
}

#calculator {
	width: 400px;
	margin: auto auto;
	display: grid;
	grid-template: repeat(6, 40px) / repeat(4, 1fr);
}

#display {
	grid-column: 1 / span 4;
}

#clear {
	grid-column: 1 / span 2;
}